<?xml version="1.0"?>
<launch>
  <arg name="open_rviz" default="false"/>
  <arg name="map_file" default="$(find int300)/map/layout.yaml"/>

  <!-- model -->
  <include file="$(find int300)/launch/hardware_model.launch"/>
  
  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find int300)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find int300)/launch/move_base1.launch"/>

  <!-- rviz -->
  <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find int300)/rviz/model.rviz"/>
  </group>

  <group unless="$(arg open_rviz)">
    <node name="rviz" pkg="rviz" type="rviz"/>
  </group>

     
</launch>

